<!doctype Html>
<html>
    <head>
        
    <title>First Page</title>
         <link rel="stylesheet" type="text/css" href="/style/style.css">
        <style>
           
            h2,h3,h4,h5,h6{color:
            forestgreen}
            h3 {color: aqua; cursor: wait}
            h4{color: bisque; font-family: cursive; font-size: 35px}
            h5{color: brown; font-size: 26px
                
            }
            h6{font-size: 35px; color: chartreuse}
            
        </style>
    
    </head>
           <body>
            <h1 style = "color:red">First Article</h1>
            <h2>Second Article</h2>
            <h3><marquee direction="left">Third Article</marquee></h3>
            <h4><marquee direction="right">Fourth Article</marquee></h4>
            <h5><marquee direction="down">Fifth Article</marquee></h5>
            <h6 class="c1"><marquee direction="up">Sixth Article</marquee></h6>
               <span>Hello world</span>
               <br>
               <span id = 'i1'>Hi Dallas</span><br>
               <span class='c1 c2' id='i2'  >Good Morning</span><br>
               <span class='c2'>Have A Nice Day</span>
               <br>
               <div class="soon">
               <img src="soon.jpg"; width="80"; height="80" onclick><br>
                   <input type ="button" value = "Large Image" onclick=soon.jpg></div>
               types of css<br>
               <a href="http://www.google.com" target="_blank">Go to Google </a><br>
              inline css (bad practice) ex h1
               <br>internal css :- inside same file ex inside script in head tag<br>
                   external
               span is a tag like small container.
               # ways to apply css tag <br>
               1. Element tag: just like span tag above <br>
               2.IDs<br>
               3.Classes
    </body>

</html>