<!doctype Html>
<head >Assignment 1 UI</head>
<title>Reference</title>
<link rel="stylesheet" type ="text/css" href=/style/style.css>
<body>
    <!-- This is an assignment!--->
    <h1 align="center">Assingment</h1>
     <table align="center">
        <thead>
            <tr >
                <th>Links</th>
                <th>Descriptions</th>
            </tr>
        </thead>
        <tbody >
            <tr>
                <td><a href="Index.html" target="_blank">Index.html</a></td>
                <td>This page is the main page <br>
                    this page has links to all the pages</td>
                
            </tr>
            <tr>
                <td><a href="list.html" target="_blank">List.html</a></td>
                <td>This page has list.<br> Which displays ordered and unordered list</td>
                
            </tr>
            <tr>
                <td><a href="Table.html" target ="_blank">Table.html</a></td>
                <td>This page has table<br> Which has colorful border.</td>
            </tr>
        
         </tbody> 
        
      </table>

</body>