<!doctype Html>
<html><head>
    <title>Task</title>
    </head>
    
<body>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    Enter First Number<input type="number" id="input1"><br>Enter Second Number
    <input type="number" id="input2">
    <br>
    Calculation
    
    <select  name="Calculation" id="calc" ><br>
        <option >Select One</option>
        <option id="Add" value="Plus">Add</option>
        <option id="Sub" value="Minus">Subtract</option>
        <option id= "Mul" value="Multi">Multiply</option>
        <option id="Div" value="Divid">Divide</option>
 </select>
    <br><br><div id="check">
    <button id="submit">Submit Drop</button>
    <br><br>
    <div id="AddResults">Addition results will display here</div>
    <div id="SubResults">Subtraction results will display here</div>
    <div id="MulResults">Multiple results will display here</div>
    <div id="DivResults">Division Results will display here</div></div>
    <br>
    <br>
   
    <div>Select one function<br>
        <input type="checkbox" name='Mathmatics' id='Add1'>Add<br>
    <input type="checkbox" name="Mathmatics" id='Sub1'>Subtract<br>
    <input type="checkbox" name='Mathmatics' id='Mul1'>Multiply<br>
    <input type="checkbox" name="Mathmatics" id='Div1'>Divide<br></div>
    <button id= 'submit1'>Submit Check</button>
    <br>
    <div id="AddResults1">Addition results will display here</div>
    <div id="SubResults1">Subtraction results will display here</div>
    <div id="MulResults1">Multiple results will display here</div>
    <div id="DivResults1">Division Results will display here</div>
   
    <p>create a seperate html and seperate js file
input two number 
in submit buttom put check box<br> where you can select from addd sub mul div etc, if none selected dont do calculation show error.<br>
if user inputs string show error
onchange/onblur google it<br> for when user is typing alert user to type only number
    </p>
    </body>
    <script type=text/javascript src=/scripts/TaskJquery.js></script>
    
</html>